*.el
!init.el
.org-id-locations
auto-save-list/
elpa/
ido.last
bookmarks
history
image-dired/
.emacs.desktop*
.session
*~
projectile.cache
projectile-bookmarks.eld
*.png
snippets/
0-*.el
0-*.org
recentf